.vscode/launch.json
.vscode/settings.json
Pliki gotowe/Downloader.exe
Pliki gotowe/dist/Downloader.exe
Pliki z programowania/Autoclicker.py
Pliki z programowania/Autoclicker.spec
Pliki z programowania/TEST.py
Pliki z programowania/Zapisywacz_hasel.py
Pliki z programowania/Zapisywacz_hasel.spec
Pliki Testowe/__pycache__/plik_test.cpython-311.pyc
Pliki Testowe/Web_Scrapper/Web_Scrap.py
Pliki Testowe/Web_Scrapper/Templets/home.html
Pliki Testowe/Game/Game.py
Pliki Testowe/Dane.txt
Pliki Testowe/Inne/Code_wars.py
Pliki Testowe/Inne/asdas.py
Pliki Testowe/test.py
Pliki Testowe/Test Site/client_secrets.json
